body{
    background-color:#222831;
   
    }
.header{
    text-align:center;
    background-color:#30475e;
    padding:6px;
    border-radius:10px;
    color: #f05454;
    font-size: 5em;
    font-family: 'Black Ops One', cursive;
    border: solid #f05454 2px;
    animation-name: a;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
      }
    @keyframes a{
        from {background-color:#2a73bb}
        to { background-color: #2aa7b5}
        
    }
  .footer{
        background-color: #30475e;
        font-family: 'Black Ops One', cursive;
        font-size: 2em;
        border-radius:10px;
        color: #f05454;
        text-align: center;
        border: solid #f05454 2px;
        padding: 5px;
        text-transform: capitalize;
        margin-top: 70px;
    }
    .ass{
        color:#fb9300;
        font-family: 'Odibee Sans', cursive;
        font-size:40px;
        padding-left: 40px;
        padding-top: 40px;
        text-transform: capitalize;
        /* border:solid#fb9300 2px ; */
        margin-top: 30px;
        margin-bottom: 30px;
        letter-spacing: 1px;
        line-height: 50px;
        animation-name: d;
        animation-delay: 0.1s;
        animation-iteration-count: 1;
        animation-duration: 3s;
    }
    @keyframes d {
        from{font-size: 0px;}
        to{font-size:40px;}
    }

.evs{
        color:#f5e6ca;
        font-family: 'Odibee Sans', cursive;
        font-size:40px;
        padding-top: 20px;
        padding-bottom: 20px;
        text-transform: capitalize;
        border:solid#f5e6ca 2px ;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius:20px;
        text-align: center;
        margin-left: 30%;
        width: 600px;
        animation-name: b;
        animation-duration: 1s;
        animation-delay: 4s;
        animation-iteration-count: 1;
        background-image: linear-gradient(#424642,#456945 );
          }
        @keyframes b{
            33% {transform: rotate(5deg);}
            66%{ transform: rotate(-5deg);}
            100%{ transform:rotate(0deg);}
        } 
    